<main class="flex">
  <h1>Асинхронність</h1>
  <article class="flex flex-row">
    <section class="flex box">
      <h2>Приклад1</h2>
      <h3>Promise</h3>
      <button class="button" (click)="async_promise()">Чи буде премія?</button>
      <button class="button" (click)="async_promise_team()">
        Премія для команди?
      </button>
    </section>
    <section class="flex box">
      <h2>Приклад2</h2>
      <h3>Await</h3>
      <button class="button" (click)="async_await_promise_team()">
        Нова премія для команди!
      </button>
    </section>
    <section class="flex box">
      <h2>Приклад3</h2>
      <h3>Збір даних з хмари</h3>
      <button class="button" (click)="load()">Зчитати</button>
      <div class="flex flex-row">
        <div
          class="flex"
          *ngFor="let user of data_users.users"
          [ngStyle]="{ color: getColor(user.money) }"
        >
          <p>{{ user.name }}</p>
          <p>{{ user.money }}</p>
        </div>
      </div>
    </section>
  </article>
</main>
<router-outlet></router-outlet>
